<div class="column is-one-quarter">
  <nav class="panel">
    <p class="panel-heading">Trends</p>
    <% 6.times do |x| %>
      <a class="panel-block">
        Trend <%= x+1 %>
      </a>
    <% end %>
  </nav>
</div>
